aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-rds==2.1.1
arrow==0.15.5
Beaker==1.11.0
blessed==1.16.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
cx-Oracle==7.3.0
defusedxml==0.6.0
Django==2.2.8
django-auth-ldap==2.1.0
django-mirage-field==0.0.5
django-oidc-rp==0.3.4
django-picklefield==2.0
django-q==1.0.2
django-redis==4.10.0
future==0.18.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
Jinja2==2.10.3
jmespath==0.9.4
jsonfield==2.0.2
Mako==1.1.0
MarkupSafe==1.1.1
mybatis-mapper2sql==0.1.9
mysql-replication==0.21
mysqlclient==1.4.6
oic==1.1.2
phoenixdb==0.7
prettytable==0.7.2
protobuf==3.11.2
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pycryptodome==3.9.4
pycryptodomex==3.9.4
pyecharts==1.6.0
pyjwkest==1.4.2
pymongo==3.9.0
PyMySQL==0.9.3
pyodbc==4.0.27
python-dateutil==2.8.1
python-ldap==3.2.0
pytz==2019.3
redis==3.3.11
requests==2.22.0
simplejson==3.17.0
six==1.13.0
sqlparse==0.3.0
supervisor==4.1.0
tqdm==4.41.1
typing-extensions==3.7.4.1
urllib3==1.25.7
wcwidth==0.1.8
